<div style="width: 30%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left: 36%;margin-top: 7%">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
      <table>
       
          <tr>
          
              <td><h1 style="margin-left: 23%;color: rgb(17, 38, 228);"> Congratulation</h1></td>
            </tr>
            <tr>
          
                <td ><h5 style="text-align: center">You have successfully created your account</h5></td>
              </tr>
              <tr style="margin-left: 52.5%;">
          
                <td> <img style="height: 40%;width: 50%;margin-left: 28%;" src="assets/img/images.png"></td>
              </tr>
          
        <tr>
          
          
          <td><button (click)=onSubmit() class="button1"   style="background-color:skyblue;margin-left: 38%;width: 30%;"><span>Proceed</span></button></td>
        </tr>
        
      </table>
    </form>
    </div>
    