<div style="width: 35%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left: 36%;margin-top: 7%">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    
      <table>
       
          <tr>
          
              <td class="form-group"><h1 style="margin-left: 52.5%;color: rgb(17, 38, 228);"> Congratulation</h1></td>
            </tr>
            <tr style="margin-left: 52.5%;">
          
                <td class="form-group"><h5>You have successfully created your account</h5></td>
              </tr>
          
          <tr>
        <tr>
          
          
          <td class="form-group"><button (click)=onSubmit() class="button1"   style="background-color:skyblue;margin-left: 80%;"><span>Next</span></button></td>
        </tr>
        
      </table>
    </form>
    </div>
    